In [1]:
from fastapi import FastAPI, HTTPException
import pandas as pd
from pandasql import sqldf

In [2]:
#Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. 
def get_max_duration(year:int, platform, duration_type:str):
    #Cargamos los datos
    df = pd.read_csv('Data/Plataformas.csv')

    #iteramos el filtro de Platform
    if platform == 'amazon':
        plat = 'a%'
    elif platform == 'disney':
        plat = 'd%'
    elif platform == 'hulu':
        plat = 'h%'
    elif platform == 'netflix':
        plat = 'n%'
    else:
        return ("Plataforma incorrecta")
    
    #Hacemos la consulta
    query = f"SELECT title, duration_int, duration_type FROM df WHERE type = 'movie' AND date_added LIKE '%{year}%' AND ID LIKE '{plat}' AND duration_type = '{duration_type}' "
    
    result = sqldf(query, locals())

    # Retorna la película con mayor duración
    return result.loc[result['duration_int'].idxmax()]

In [3]:
#Verificamos
get_max_duration('2020', 'netflix', 'min')

title            the school of mischief
duration_int                        253
duration_type                       min
Name: 664, dtype: object

In [4]:
import pandasql as ps
import sqlite3

In [5]:
from pandasql import sqldf

def run_query(query):
    return sqldf(query)

In [6]:
#Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))
def get_score_count(platform:str, scored:float, year:str):

    df = pd.read_csv('Data/Plataformas.csv')

    # Iteramos el filtro de plataforma
    if platform.lower() == 'amazon':
        platform_id = 'a%'
    elif platform.lower() == 'disney':
        platform_id = 'd%'
    elif platform.lower() == 'hulu':
        platform_id = 'h%'
    elif platform.lower() == 'netflix':
        platform_id = 'n%'
    else:
        return "Plataforma incorrecta"

    query = f"SELECT COUNT(*) AS count FROM df WHERE ID LIKE '{platform_id}%' AND type='movie' AND rating >= {scored} AND date_added BETWEEN '{year}-01-01' AND '{year}-12-31'"


    return ps.sqldf(query, locals())

In [7]:
get_score_count('netflix', 3.5, '2020')

   count
0    971

In [8]:
#Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))
import pandas as pd
import pandasql as ps

def get_count_platform(platform: str):
    df = pd.read_csv('Data/Plataformas.csv')

    if platform == 'amazon':
        plat = 'a'
    elif platform == 'disney':
        plat = 'd'
    elif platform == 'hulu':
        plat = 'h'
    elif platform == 'netflix':
        plat = 'n'
    else:
        return ("Plataforma incorrecta")

    query = f"SELECT COUNT(*) AS count FROM df WHERE ID LIKE '{plat}%' AND type = 'movie'"
    return ps.sqldf(query, locals())

In [9]:
get_count_platform('disney')

   count
0   1052

In [10]:
import pandas as pd

def get_actor(platform: str, year: str):
    # Cargar el archivo CSV en un DataFrame
    df = pd.read_csv('Data/Plataformas.csv')

    # Filtrar por plataforma
    if platform.lower() == 'netflix':
        df = df[df['ID'].str.startswith('n')]
    elif platform.lower() == 'amazon':
        df = df[df['ID'].str.startswith('a')]
    elif platform.lower() == 'hulu':
        df = df[df['ID'].str.startswith('h')]
    elif platform.lower() == 'disney':
        df = df[df['ID'].str.startswith('d')]
    else:
        return 'Plataforma incorrecta'

    # Convertir la columna 'release_year' de float a int
    df['release_year'] = df['release_year'].fillna(0).astype(int)

    # Eliminar las filas con valores nulos en la columna 'cast'
    df = df.dropna(subset=['cast'])

    # Filtrar por año y obtener el actor que más se repite
    cast_count = df.loc[df['release_year'] == int(year)].groupby('cast').size().reset_index(name='count')
    actor = cast_count.loc[cast_count['count'].idxmax(), 'cast']

    return actor

In [11]:
get_actor('netflix', '2019')

'michela luci, jamie watson, eric peterson, anna claire bartlam, nicolas aqui, cory doran, julie lemieux, derek mcgrath'