In [6]:
from fastapi import FastAPI, HTTPException
import pandas as pd
from pandasql import sqldf

In [23]:
#Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. 
def get_max_duration(year:int, platform, duration_type:str):
    #Cargamos los datos
    df = pd.read_csv('Data/Plataformas.csv')

    #iteramos el filtro de Platform
    if platform == 'amazon':
        plat = 'a%'
    elif platform == 'disney':
        plat = 'd%'
    elif platform == 'hulu':
        plat = 'h%'
    elif platform == 'netflix':
        plat = 'n%'
    else:
        return ("Plataforma incorrecta")
    
    #Hacemos la consulta
    query = f"SELECT title, duration_int, duration_type FROM df WHERE type = 'movie' AND date_added LIKE '%{year}%' AND ID LIKE '{plat}' AND duration_type = '{duration_type}' "
    
    result = sqldf(query, locals())

    # Retorna la película con mayor duración
    return result.loc[result['duration_int'].idxmax()]

In [24]:
#Verificamos
get_max_duration('2020', 'netflix', 'min')

title            the school of mischief
duration_int                        253
duration_type                       min
Name: 664, dtype: object

In [7]:
import pandasql

In [16]:
#Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))
def get_score_count(platform:str, scored:float, year):

    df = pd.read_csv('Data/Plataformas.csv')

    #iteramos el filtro de Platform
    if platform == 'amazon':
        plat = 'a%'
    elif platform == 'disney':
        plat = 'd%'
    elif platform == 'hulu':
        plat = 'h%'
    elif platform == 'netflix':
        plat = 'n%'
    else:
        return ("Plataforma incorrecta")

    df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
    df['year_added'] = df['date_added'].dt.year
    pysql = lambda q: sqldf(q, globals())
    query = f'''
        SELECT country, COUNT(*) AS count
        FROM df
        WHERE type = 'Movie'
            AND year_added = {year}
            AND rating >= {scored}
            AND lower(country) LIKE '%{plat.lower()}%'
        GROUP BY country
        ORDER BY count DESC
    '''
    result = pysql(query)
    return result

In [17]:
re = get_score_count('netflix', 3.4, '2020')
print(re)

ObjectNotExecutableError: Not an executable object: "\n        SELECT country, COUNT(*) AS count\n        FROM df\n        WHERE type = 'Movie'\n            AND year_added = 2020\n            AND rating >= 3.4\n            AND lower(country) LIKE '%n%%'\n        GROUP BY country\n        ORDER BY count DESC\n    "

In [ ]:
        
def get_word_count(plataforma: str, keyword: str):
    # lectura de la base de datos:
    df = pd.read_csv("https://raw.githubusercontent.com/BeeluRiddle/pi-movies-database/main/movies_completo.csv")
    
    #Definición de las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")
    
    #QUERY:
    query = f"SELECT COUNT(title) FROM df WHERE title LIKE '%{keyword}%' AND id LIKE '{plat}'"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)
    
    #Se verifica el contenido de la variable. En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No se pudo encontrar la keyword solicitada.")